/*changing page style and color */
body {
    background-color:rgb(13, 34, 49);
    color: rgb(186, 230, 228);
    font-family:cursive;
    
}
h1 {
    color: bisque;
    font-family: monospace;

}

h3 {
    color: rgb(196, 230, 215);
    font-family:Georgia, 'Times New Roman', Times, serif ;

}